
body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background: linear-gradient(to top, #84ffff, #5f84ff);
}


.main-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows:  1.5fr 1.5fr 1.5fr 1.5fr; 
    grid-template-areas: 
   
    "calendar calendar Monday Tuesday"
    "calendar calendar Wednesday Thursday"
    "toDo habits Friday Saturday"
    "toDo habits Sunday notes"
    ;
    grid-gap: 0.2rem;
    font-weight: 800;
    text-transform: uppercase;
    font-size: 16px;
    color: white;
    text-align: center;
   
}


#calendar {
    grid-area: calendar;
    border: 1px white solid; 
    border-radius: 1.75em;
    display: flex;
 
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
  html {
    font-size: 62.5%;
  }
  

  .cal {
    flex: 1;
    width :auto;
    height: auto;
    background-image: linear-gradient(to bottom, #711b86, #00057a, #711b86);
    box-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.4);
    border-radius: 1.75em;
  }
  
  .month {
    height: auto;
    background-image: linear-gradient(to bottom #711b86, #00057a);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 2rem;
    margin-top: 2rem;
    text-align: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .month i {
    font-size: 2.5rem;
    cursor: pointer;
    color: #00ff9b;

  }

  
  .month h1 {
    font-size: 3rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    margin-bottom: 0.5rem;
  }
  
  .month p {
    font-size: 1.6rem;
  }
  
  .weekdays {
    width: 100%;
    height: 5rem;
    padding: 0 0.2rem;
    display: grid;
    grid-template-rows: 1;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
    "weekdays weekdays weekdays weekdays weekdays weekdays weekdays"
    ;
    justify-content: space-around;
  }
  
  .weekdays div {
    font-size: 1.5rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    width: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.5);
  }
  
  .days {
    width: 100%;
    display: grid;
    grid-template-rows: 5;
    grid-template-columns: repeat(7, 1fr);
    grid-template-areas: 
    "days days days days days days days"
    "days days days days days days days"
    "days days days days days days days"
    "days days days days days days days"
    "days days days days days days days"
    ;
    justify-content: space-around;
    padding: 0.2rem;
  }
  
  .days div {
    font-size: 1.4rem;
    margin: 0rem;
    width: calc(40.2rem / 7);
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0.2rem 0.2rem rgba(0, 0, 0, 0.5);
    transition: background-color 0.2s;
    padding-bottom: 0.5rem;
  }
  
  .days div:hover:not(.today) {
    background-color: transparent;
    border: 0.2rem solid #00ff9b;
    border-radius: 50%;
    cursor: pointer;
  }
  
  .prev-date,
  .next-date {
    opacity: 0.5;
  }
  
  .today {
    background-color: #711b86;
    border:0.2rem solid #00ff9b ;
    border-radius: 50%;
    
  }

  /*  Event Stuff  */


  /*
.events-container {
  overflow-y: scroll;
  height: 100%;
  float: bottom;
  margin: 0px auto; 
  font: 13px "Courier-New", Verdana, sans-serif; 
  display: inline-block; 
  padding: 0 10px;
  border-bottom-right-radius: 3px;
  border-top-right-radius: 3px;
}
.events-container:after{
  clear:both;
}
.event-card {
  padding: 20px 0;
  width: 350px;
  margin: 20px auto;
  display: block;
  background-image: linear-gradient(to bottom #00057a, #711b86);
  border-left: 10px solid #00057a;
  border-radius: 3px;
  box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -moz-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
  -webkit-box-shadow: 3px 8px 16px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}
.event-count, .event-name, .event-cancelled {
  display: inline;
  padding: 0 10px;
  font-size: 1rem;
}
.event-count {
  color: #00ff9b;
  text-align: right;
}
.event-name {
  padding-right:0;
  text-align: left;
}
.event-cancelled {
  color: darkgrey;
  text-align: right;
}
*/

h2 {
  padding-top: 5px;
  padding-bottom: 5px;
}

/* ------------ TO DO LIST --------------*/

#toDo {
  display: flex;
  /*  background: #18ffff; */
    grid-area: toDo;
    max-height: 100%;
    border: 1px white solid; 
    border-radius: 1.75rem;
    padding-top: var(--main-padding);
    overflow-y: scroll;
}

.toDoList {
  flex: 1; 

}

.toDoList input{
  margin-bottom: 10px;
}

/*to do list styling */
  
    /* Remove margins and padding from the list */
   ul {
      margin: 0;
      padding: 0;
      list-style-type: none;
      overflow: auto;
      display: flex-grow;
      width: 100%;
  
    }
    
    /* Style the list items */
    
    
    ul li {
      cursor: pointer;
      position: relative;
      padding: .5rem;
      height: inherit;
      background: #eee;
      font-size: 16px;
      transition: 0.2s;
      color: #fff;
      border-radius: 1.75rem;
      text-align: center;
  
    
      /* make the list items unselectable */
     -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  

    /* Set all odd list items to a different color (zebra-stripes) */
   ul li:nth-child(odd) {
      background: #711b86;
    }
  
    ul li:nth-child(even) {
      background: #00057a;}
    
  
   /* Lighter background-color on hover */ 
  
  
    ul li:hover:nth-child(odd) {
      background: #d895e9;
    }
  
    ul li:hover:nth-child(even) {
      background: #5f84ff;
     
    }

    /* When clicked on, add a background color and strike out text */
   ul li.checked {
      color: #000;
      text-decoration: line-through;
      text-decoration-thickness: 2px;
    }
  
    ul li.checked:nth-child(odd) {
      background: #d895e9;
    }
  
    ul li.checked:nth-child(even) {
      background: #5f84ff;
    }
 
    
    /* Add a "checked" mark when clicked on */

    ul li.checked::before {
      content: '';
      position: absolute;
      border-color: #00ff9b;
      border-style: solid;
      border-width: 0 2px 3px 0;
      left: 16px;
      transform: rotate(45deg);
      height: 14px;
      width: 7px;
      
    }
   
    /* Style the close button */
    
    .close {
      position: absolute;
      right: 3px;
      bottom: 1px;
    
    }
    
    .close:hover {
      color:#000;
    }

    /* Style the input */
   
    input { 
    display: block;
      margin: 0;
      border: none;
      border-radius: 1.75rem 0 0 1.75rem;
      width: 75%;
      padding: 10px;
      float: left;
      font-size: 16px;
    }
    
    /* Style the "Add" button */
  
    .addBtn {

      padding: 10px;
      width: 25%;
      background: #b290ff;
      color: #000;
      float: left;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 0 1.75rem 1.75rem 0;
     
    }
    
    .addBtn:hover {
      background-color: #31feae;
    }

/*  -----------habits ----------------*/
#habits {
    display: flex;
    grid-area: habits;
    border: 1px white solid; 
    border-radius: 1.75rem;
    overflow-y: scroll;
    padding-top: var(--main-padding);
}

.habitTracker {
  flex: 1;
}

#habittable{
  cursor: pointer;
  position: relative;
  padding: 1rem 1.5rem;
  width:100%;
  height: 100%;
  background-image: linear-gradient(to top, #711b86, #00057a);
  font-size: 18px;
  transition: 0.2s;
  color: #fff;
  border-radius: 1.75rem;
justify-content: space-around;
margin-bottom: .5rem;

}


#habittable input {
  width: 100%;
  border-radius: 1.75rem ;
  margin-top: .3rem;  

}

 
/*
input.habit {

    display: block;
      margin: 0;
      border: none;
      border-radius: 1.75rem;
      width: 100%;
      padding: 10px;
      float: left;
      font-size: 16px;
    }
    */
/*
    input.reps {

      display: block;
        margin: 0;
        border: none;
        border-radius: 1.75rem;
        width: 100%;
        padding: 10px;
        float: left;
        font-size: 16px;
      }

      */
    /* Style the "Add habit" submit */
  /*
    input.submit {

      padding: 10px;
      width: 100%;
      background: #b290ff;
      color: #000;
      float: left;
      text-align: center;
      font-size: 16px;
      cursor: pointer;
      transition: 0.3s;
      border-radius: 1.75rem;
     
    }
    
    input.submit:hover {
      background-color: #31feae;
    }

*/
/* ------------- daily / notes  ---------------*/


/* open modal button styling */

.modalButton{
  margin-top: .25em;
  margin-bottom: .25em;
  position:center;
  padding: .25em;
  border: 1px solid black;
  border-radius: 5px;
  width: auto;
  box-sizing: border-box;
  font-weight:400;
  font-size: 16px;
  color:white;
  text-align:center;
  transition: all 0.2s;
  background-color: #b290ff;
  }

  .modalButton:hover{
  color:#000000;
  background-color:#31feae;
  cursor: pointer;
  }



/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */

}

/* Modal Content/Box */
.modal-content {
  padding: 15px;
  width: 350px;
  margin: 5px auto;
  display: block;
  background-color: #00057a;
  border-radius: 1.75em;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  
}

#noteModal-content {
  padding: 15px;
  width: 350px;
  margin: 5px auto;
  display: block;
  text-align: center;
  background-color: #00057a;
  border-radius: 1.75em;
  margin: 15% auto; /* 15% from the top and centered */
  border: 1px solid #888;
  
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}



/*----------------Days and Notes --------------------- */
#Monday {

  grid-area: Monday;
  border: 1px white solid; 
  border-radius: 1.75rem;
  padding-top: var(--main-padding);
}

#Tuesday {
 
    grid-area: Tuesday;
    border: 1px white solid; 
    border-radius: 1.75rem;
    padding-top: var(--main-padding);
}

#Wednesday {

    grid-area: Wednesday;
    border: 1px white solid; 
    border-radius: 1.75rem;
    padding-top: var(--main-padding);
}

#Thursday {
   
    grid-area: Thursday;
    border: 1px white solid; 
    border-radius: 1.75rem;
    padding-top: var(--main-padding);
}

#Friday {
   
    grid-area: Friday;
    border: 1px white solid; 
    border-radius: 1.75rem;
    padding-top: var(--main-padding);
}

#Saturday {

    grid-area: Saturday;
    border: 1px white solid; 
    border-radius: 1.75rem;
    padding-top: var(--main-padding);
}

#Sunday {
  
    grid-area: Sunday;
    border: 1px white solid; 
    border-radius: 1.75rem;
    padding-top: var(--main-padding);
}

#Notes {

    grid-area: notes;
    border: 1px white solid; 
    border-radius: 1.75rem;
    padding-top: var(--main-padding);
}
    
    /* ------- Individual habits styling ---------  */ 
   /*
   
    #habittable{
      cursor: pointer;
      position: relative;
      padding: 0.5rem;
      height: inherit;
      width:inherit;
      background-image: linear-gradient(to bottom, #711b86, #00057a);
      font-size: 18px;
      transition: 0.2s;
      color: #fff;
      border-radius: 1.75rem;
      text-align: center;
      
  
      table {
        table-layout: fixed;
      
      }
    
      th {
        width: 100%;
        text-align: center;
       
      }
  
    td {
     
       display: block;
     
    }
  
  */

 @media screen and (max-width: 968px) {
        .main-container {
            height: auto;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 3fr repeat(7, 1fr)2.5fr 1fr;
            grid-template-areas: 
            "calendar calendar"
            "Monday Monday"
            "Tuesday Tuesday"
            "Wednesday Wednesday"
            "Thursday Thursday"
            "Friday Friday"
            "Saturday Saturday"
            "Sunday Sunday"
            "toDo habits"
            "notes notes";
        }
    }
    


    @media screen and (max-width: 600px) {

        .main-container {
            height: 100vh;
            display: grid;
            grid-gap: 0.2rem;
            font-weight: 800;
            text-transform: uppercase;
            font-size: 16px;
            color: white;
            text-align: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            grid-template-areas: 
            "calendar calendar"
            "toDo habits";
        }
        
        #Monday { display: none; }
        #Tuesday { display: none; }
        #Wednesday { display: none;  }
        #Thursday {display: none;  }
        #Friday { display: none;   }
        #Saturday {display: none;  }
        #Sunday {display: none;  }
        #Notes { display: none;  }

          
          }
    
